site_name: Adaptace krajiny na klimatickou změnu
nav:
  - Základní informace: index.md
  - Úlohy:
      - Úvod do tématu prostorových dat: ulohy/01.md
      - Webové mapové služby v prohlížeči: ulohy/02.md
      - Práce s webovými mapovými službami v QGIS: ulohy/geoportaly.md
      - 3D tisk území: ulohy/3D_tisk.md
  - Podklady: podklady.md

plugins:
  - search
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      skip_classes:
        - custom-skip-class-name
      auto_caption: false
      caption_position: bottom
theme:
  name: material
  custom_dir: overrides
  favicon: assets/favicon.png
  logo: assets/favicon.svg
  icon:
    annotation: material/plus-circle
  features:
    - navigation.tabs
    # - navigation.tabs.sticky
    - navigation.sections
    - toc.integrate
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - content.tooltips
  language: cs
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
      primary: custom
      accent: custom
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
      primary: custom
      accent: custom
extra:
  social:
    - icon: fontawesome/brands/instagram
      link: https://www.instagram.com/krajina_cvut/
copyright: <a href="https://krajina.fsv.cvut.cz/" target="_blank">Stavby, krajina a životní prostředí</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;2025
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - attr_list
  - md_in_html
  - toc:
      permalink:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - admonition
  - pymdownx.arithmatex:
      generic: true
  - footnotes
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.mark
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji 
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.caret
  - pymdownx.tilde
  - sane_lists
  - tables

